

@model IEnumerable<MoviesViewModel>

<div>
    @if (TempData.ContainsKey("AddedMovie"))
    {
        <p class="text-danger text-center">@TempData["AddedMovie"] has been added to the collection</p>
    }
</div>

@await Html.PartialAsync("_MovieTablePartial", Model)

<div class="text-center">
    <a asp-controller="Home" asp-action="Index" class="btn btn-dark">Back to Menu</a>
</div>