@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Justin's Movie Store</h1>
    <div class="button-group">
        <a class="btn btn-dark" asp-controller="Movie" asp-action="Index">View Movies</a>
        <a class="btn btn-dark" asp-controller="Movie" asp-action="RegisterMovieForm">Register Movies</a>
        <a class="btn btn-dark" asp-controller="Movie" asp-action="Search">Search Movies</a>
    </div>
</div>