@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome To Justin's Movie Store</h3>
    <div class="button-group mt-5">
        <h5 class="text-center text-"><u>Registered Member Areas</u></h5>
        <a class="btn btn-dark mt-3 mr-3" asp-controller="Movie" asp-action="Index">View Movies</a>
        <a class="btn btn-dark mt-3 mr-3" asp-controller="Movie" asp-action="RegisterMovieForm">Register Movies</a>
        <a class="btn btn-dark mt-3 mr-3" asp-controller="Movie" asp-action="Search">Search Movies</a>
    </div>
</div>